@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
/* ================ font-family: 'Titillium Web', sans-serif; ==================*/

body {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background-color: #6B5B95;
}


.container-nav {
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px;
    flex-direction: row;
}

.nav-button {
    list-style-type: none;
    padding: 10px 32px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 800;
    font-family: 'Titillium Web', sans-serif;
    transition: all 0.5 ease-out;
    margin: 10px 5px;
    color: #F5FFFA;
}

a {
    text-decoration: none;
}

.nav-button:hover {
    background-color: #F5FFFA;
    opacity: 0.5;
}


form > * {    
    display: block;
    margin-top: 10px;
    width: 350px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    height: 30px;
}

.gender {
    display: flex;
}

.gender > * {
    margin-right: 10px;
}

#btnSubmit {
    margin: auto;
    background-color: #363945;
    cursor: pointer;
    width: 360px;
    height: 40px;
    margin-top: 30px;
    border: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #F5FFFA;
    font-weight: 800;
}

#btnSubmit:hover {
    opacity: 0.7;
}

.headingBio {
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #F5FFFA;
    margin-bottom: 30px;
}

form {
    margin: auto;
}

.radioButton {
    color: #F5FFFA;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

#labelJenisKelamin {
    color: #F5FFFA;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

#labelTanggalLahir {
    color: #F5FFFA;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}